{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-sass-guidelines"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "overrides": [
    {
      "files": ["**/*.scss"],
      "customSyntax": "postcss-scss"
    },
    {
      "files": [
        "**/*.html"
      ],
      "processor": "stylelint-html"
    }
  ],
  "rules": {
    "function-parentheses-space-inside": null,
    "no-descending-specificity": null,
    "max-nesting-depth": 2,
    "selector-max-id": 1
  }
}
